:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.grid {
  display: grid;
  gap: 0.2em;
  width: 960px;
  overflow: hidden;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}

.grid-item {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  padding: 1em;
  border: 1px solid black;
  text-align: center;
}
