:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 95px;
  max-width: 1100px;
  margin: 0 auto;
}

.grid {
  display: grid;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 5px solid black;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin-right: auto;
}

.grid-item {
  display: grid;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
  margin: 0px;
}

.grid-size {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 5px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 200px;
}

#error-message {
  text-align: center;
  color: #ff0000;
  opacity: 0;
  margin: 10px;
}

.div-pen-color,
.div-background-color {
  display: flex;
  justify-content: center;
  align-items: center;
}
