:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  gap: 0.1em;
  grid-template-rows: repeat(var(--grid-rows), 30px);
  grid-template-columns: repeat(var(--grid-cols), 30px);
}

.grid-item {
  padding: 1em;
  border: 1px solid black;
  text-align: center;
}
